
body {
  background-color: #000000;
  background-image : url("http://img1.mxstatic.com/wallpapers/900976145c9120f7abcba4864a11f484_large.jpeg");
  background-position : top center;
  background-repeat : no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

#mybody {
    background-image:url('images/Storry/amour_gloire_et_boum.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#button {
  font-size: 24pt;
  width: 180pt;
  text-align: center;
  margin-left: 44%;
}

#menuTitle {
  text-align: center;
  font-size: 20pt;
  font-size: strong;
  margin-top: 5px;
  margin-bottom: 5px;
  color : #FFFFFF;
}

